.search-filter-wrapper {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  position: fixed;
  top: 80px;
  left: 100px;
  width: 90%;
  z-index: 2500;
  height: 70px;
}

.search-filter-bg {
  position: fixed;
  top: 80px;
  left: 100px;
  width: 70%;
  height: 70px;
  background-color: #D9D9D9; /* O el color de fondo de tu página */
  z-index: 2400; /* Un poco menos que el wrapper para que quede detrás */
  border-radius: 13px;
}


.search-filter {
  background-color: white;
  border-radius: 13px;
  padding: 15px 20px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1450px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.search-group {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 300px;
}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 15px;
  /* Ajuste el left padding para mover placeholder más a la izquierda */
  border-radius: 10px;
  border: 1px solid #ccc;
  font-size: 16px;
  height: 22px;
}

.icon-right {
  position: absolute;
  right: 10px;
  color: #666;
}

.category-group {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 12px;
  border-radius: 10px;
  cursor: pointer;
  color: #333;
  width: 100%;
  max-width: 200px;
  margin: 0 auto;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
}

.category-group i {
  margin: 0 8px;
}

.category-text {
  font-size: 16px;
  flex-grow: 1;
}

.icon-right-chevron {
  margin-left: 5px;
  color: #666;
}

/* Opciones desplegables personalizadas */
.category-options {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  list-style: none;
  padding: 0;
  margin: 5px 0 0 0;
}

.category-options li {
  padding: 10px 15px;
  cursor: pointer;
}

.category-options li:hover {
  background-color: #f0f0f0;
}

.category-group.active .icon-right-chevron {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.icon-right-chevron {
  transition: transform 0.3s ease;
}


.menu-icon {
  font-size: 20px;
  cursor: pointer;
  color: #333;
  margin-left: auto;
  /* Esto lo manda a la derecha del todo */
}